// // Color
$color-white: #fff;
$color-base: #262626;
$color-orange: #ff6033;
$color-yellow: #FFE92F;

// Fonts
$font-pacifico: 'Pacifico', cursive;
$font-raleway: 'Raleway', sans-serif;

// // Path
$path-img: '../img/';