* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-raleway;
    font-size: 14px;
    color: $color-base;
}

.grid {
    margin: 0 165px;
}

// .content-box {
//     width: 1180px;
//     margin: 0 auto;
// }

// .section-box {
//     padding: 160px 0;
// }

// .p16 {
//     font-size: 16px;
// }